@import "assets/styles/_variables.scss";

header{
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .components{
        
    }
}