<header>
    <div class="component">

        <div class="animation-click-link">
            <a>//01. &lt;Home/&gt; </a>
        </div>

        <div class="animation-click-link">
            <a>//02. &lt;Portifolio/&gt; </a>
        </div>
    </div>
    <div class="component-mid">
        <img style="width: 150px;" src="/Logo.png" alt="">
    </div>
    <div class="component">

        <div class="animation-click-link">
            <a>//03. &lt;Press/&gt; </a>
        </div>
        <div class="animation-click-link">
            <a>//04. &lt;Contact/&gt; </a>
        </div>

    </div>

</header>