//background color
$background-primaria:#11111b;
$background-secundaria: #00ff96;

//text color
$text-primaria:#fdffff;
$text-secundaria:#94959a;
$text-terceiro:#186147;
$text-quarto:#00ff96;
$text-soft:#56575c;